/* CSS Entry Point */

// * {
// 	border: 2px solid red;
// }

div {
	width: 480px;
	.header {
		text-align: center;
		font-size: 27px;
		background-color: #00c6d6;
		border: 1px solid black;
	}
}

.app {
	margin: 200px auto auto auto;
	border: 2px solid #00c6d6;
}