/* CSS Entry Point */

body {
	background-color: black;
}

.container {
	position: relative;
	overflow: hidden;
	width: 480px;
	margin: 50px auto auto auto;
	background-color: white;
	}

div {
	.header {
		width: 480px;
		text-align: left;
		font-size: 27px;
		background-color: #00c6d6;
		border-bottom: 1px solid black;
		overflow: hidden;
		&:hover {
			border: 1px solid #00daec;
			background-color: #00daec;
		}
	}
}

.para {
	width: 480px;
	background-color: white;
	max-height: 0px;
	transition: 2s ease;
	overflow: hidden;
}

p {
	margin: 0;
	padding: 8px 0px 8px 25px;
	color: white;
}

#three-h {
	border-bottom: none;
}

.trans-one {
	max-height: 144px;
	transition: 2s ease;
}

.trans-two {
	max-height: 198px;
	transition: 2s ease;
}

.trans-three {
	max-height: 162px;
	transition: 2s ease;
}
